
  /* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
  } */

  .main{
    margin: 10px;
  }
  .header {
    /* background: #4CAF50;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 20px 0;
    margin-bottom: 25px;
  }

  .subtitle{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    
    color: #000000;
  }


  .descriptionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description{    
        
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    
    color: #000000;
    
}

.selection{
    color: #225819;
    border-bottom: 2px solid #225819;
}

  .title{
    font-size: 100px;
    font-weight: bold;
    font-family: 'Jacques Francois Shadow';
    /* text-shadow: 0px 0px 4px #225819;  */
    color: white;
    -webkit-text-stroke: 2px #225819; /* Espessura e cor da borda do texto para navegadores WebKit/Blink */
  }
  .mainContent {
    margin: 0 20px;
  }
  .bettingInfo {
    font-size: 24px;
    margin: 20px 0;
  }
  .chartContainer {
    border: 5px solid #225819; /* Bordas do contêiner do gráfico */
    margin: 20px auto;
    height: 280px;
    max-width: 60%;
    /* Substitua 'placeholder-chart.png' pelo caminho correto do gráfico */
    /* background: url('placeholder-chart.png') no-repeat center center; */
    /* background-size: cover; */
  }

  .optionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 70%;
  }

  .bettingOptions {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinha os itens verticalmente no centro */
    flex-wrap: wrap; /* Permite que os itens se envolvam em linhas adicionais conforme necessário */
    gap: 10px; /* Espaço entre os botões */
  }


  .yesButton {
    padding-inline-start: 10px;
    padding-right: 90px;
    margin-inline: 10px;
    position: relative;
    left: 233px; /* Move o botão 10px para a direita da sua posição original */
    cursor: pointer;
    transition: 0.3s;
    background: #c7fa9f; 
    
    border: 4px solid #225819;
  }
  .yesButton:hover {
    background: #5dc74a; /* Cor de fundo do botão Claim ao passar o mouse */
  }

  .yes{
    font-size: 60px;
    font-weight: 700;
    font-family: 'Jacques Francois Shadow';
    color: transparent;
    -webkit-text-stroke: 2px #225819;
  }

  .yesPrice{
    font-size: 12px;
    color: #225819;
    font-weight: 600;
  }

  .noButton {
    padding-inline-start: 10px;
    padding-right: 90px;  
    margin-right: 0px;
    margin-top: 0px;
    margin-inline: 10px;
    position: relative;
    left: 225px; /* Move o botão 10px para a direita da sua posição original */
    cursor: pointer;
    transition: 0.3s;
    background: #fac09f;
    border: 4px solid #AE0303;
  }
  .noButton:hover {
    background: #eb4141; /* Cor de fundo do botão Claim ao passar o mouse */
  }

  .no{
    font-size: 60px;
    font-weight: 700;
    font-family: 'Jacques Francois Shadow';
    color: transparent;
    -webkit-text-stroke: 2px #AE0303;
  }

  .noPrice{
    font-size: 12px;
    color: #AE0303;
    font-weight: 600;
  }

  /* .yes-button { background: #4CAF50; color: #fff; }
  .no-button { background: #f44336; color: #fff; } */
  .claimButton {
    background: #d5d4d4; /* Cor do fundo do botão Claim */
    padding-inline-start: 10px;
    padding-right: 90px;
    margin-inline: 10px;
    position: relative;
    left: 216px; /* Move o botão 10px para a direita da sua posição original */
    transition: 0.3s;
    font-size: 24px;
    border: 4px solid #858884;
  }
  .claimButton:hover {
    background: #9e9e9e; /* Cor de fundo do botão Claim ao passar o mouse */
  }

  .claim{
        font-size: 60px;
        font-weight: 700;
        font-family: 'Jacques Francois Shadow';
        color: transparent;
        -webkit-text-stroke: 2px #858884; 
  } 

 /* betting.module.css */
.main {
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
  /* Outros estilos para .main podem ser adicionados aqui */
}